container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python NRProject/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python NRProject/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python NRProject/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "NRProject.settings"
    "PYTHONPATH": "/opt/python/current/app/NRProject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: NRProject.wsgi:application
    NumProcesses: 3
    NumThreads: 20