container_commands:
  01_migrate:
    command: source $PYTHONPATH/activate pipenv run python ./manage.py migrate --noinput
    leader_only: true
  02_createsu:
    command: source $PYTHONPATH/activate pipenv run python ./manage.py createsu
    leader_only: true
  03_collectstatic:
    command: source $PYTHONPATH/activate pipenv run python ./manage.py collectstatic --noinput
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "NRProject.settings"
    "PYTHONPATH": "/var/app/current/NRProject:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: NRProject.wsgi:application
    NumProcesses: 3
    NumThreads: 20