{% load static %}

<!-----=================about us===========================-->
<section id="about">
    <div class="m-auto mt-4 px-4" id="equipo">
      <h1 id="team" class="mb-5 fs-1 text-center">Small Teams, <span id="team" class="fw-bold">Great Results</span></h1>
      <p id="color-p" class="fs-3 zurich text-start fw-light text-justify"><span id="team" class="fw-bold">ABOUT US:
        </span>We are a company born from the need to improve efficiency,
        flexibility, cost reduction and improvement of the customer experience in logistics and moving services.
        Get the best experience from a supportive professional team no matter of size or distance your service will
        be in the shortest possible time in the required place quickly and affordably. Thousands of satisfied customers,
        the next is you!</p>
      <p id="color-p" class="fs-3 zurich text-start fw-light">At <span id="team" class="fw-bold">NationwideMovers</span>
        we value honesty and encourage it in our communication with all of our clients. We employ moving industry workers who possess the experience and "customer-comes-first" approach you want during your moving experience. </p>
      <p id="color-p" class="fs-3 zurich text-start fw-light">We guarantee the cheapest and most accessible service in the industry.</p>
    </div>
    <div class="mt-5">
      <img src="{% static 'img/about/equipo.jpg' %}" alt="teams" class="img-fluid">
    </div>
  </section>

  <!-----=================/about us===========================-->