{% load static %}
<div class="row ">
    <div class="col-12 col-lg-6 md-4 mt-3">
      <!-- <section id="servicio" class="services"> -->
      <div class="container">
        <div class="heading">
          <h2> Services</h2>
          <p class="description fs-3 text-center">We provide services your business needs</p>
        </div>
        <div class="row">
          <div class="col-12 col-lg-12 d-flex align-items-stretch mb-5">
            <div class="icon_box one">
              <div class="icon"><i class="bi bi-truck"></i></div>
              <h4 class="title fs-3">Schedule your move</h4>
              <p class="description fs-4 pb-3">For those who are about to start a move, we have developed different
                types of services according to their needs, because we understand that moving to a new home means that
                you will have many things to do and this should not be a problem to worry about. </p>
              <p class="description fs-4">
                We strive to be in constant communication with
                our customers until the job is done. To get a free quote,
                to arrange your movers, or if you have questions or special
                requests, just drop us a line. We look forward to serving you!
              </p>
              <p class="description pt-5">
              <p class="description fs-4 fw-bold"><i class="bi bi-check"></i> Commercial moves</p>
              <p class="description fs-4 fw-bold"><i class="bi bi-check"></i> Local removals</p>
              <p class="description fs-4 fw-bold"><i class="bi bi-check"></i> Residential moves</p>
              <p class="description fs-4 fw-bold"><i class="bi bi-check"></i> Packing and Unpacking Service</p>
              <p class="description fs-4 fw-bold"><i class="bi bi-check"></i> Furniture assembly/disassembly services
              </p>
              </p>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>
    <div class="col-12 col-lg-6  mb-2 mt-4 ">
      {% include "services/service_form.html" %}
    </div>
  </div>